.profile {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: fit-content;
  height: auto;
  background-color: beige;
}

.title {
  margin: 0 0 10px 0;
  text-align: center;
  border-bottom: 1px dotted darkblue;
}

.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 12px;
  color: gray;
  text-align: center;
}

.avatar {
  display: block;
  margin: 0 auto;
  width: 250px;
  border-radius: 35%;
}

.name {
  margin: 10px 0;
  font-size: 18px;
  color: black;
}

.tag {
  margin: 0;
  margin-bottom: 10px;
}

.location {
  margin: 0;
  font-size: 14px;
}

.stats {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.stats_item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: calc(100% / 3);
  background-color: rgb(214, 226, 241);
  border: 1px dotted gray;
  text-align: center;
  font-size: 14px;
}

.label {
  margin-bottom: 10px;
}

.quantity {
  font-weight: bold;
}
