.friendList {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: fit-content;
  height: auto;
  background-color: lightgoldenrodyellow;
}

.item {
  display: flex;
  padding: 10px;
  border: 2px outset darkcyan;
}

.item > *:not(:last-child) {
  margin-right: 20px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.status {
  display: inline-flex;
  align-self: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.avatar {
  display: block;
  border: 1px solid lightgray;
  border-radius: 30%;
}

.name {
  font-size: 18px;
  font-weight: bold;
}
